mat-toolbar {
    background: #004a9f;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 200px !important;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
    color: gray;
}


mat-sidenav-container {
    height: calc(100vh - 65px);
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

.menu-button{
    text-align: left;
    width: 100%;
}
.menu-button span{
    margin-left: 10px !important;
    font-size: 15px !important;
}

.active{
    background: #004a9f;
    color: white;
}

.menu-button:hover {
    background: #004a9f;
    color: white;
  }
 